.path {
	$sideBarCol: #E9E9E9;
	@include sideBar(10rem,'left', $sideBarCol);
	@include scrollbar($sideBarCol);

	li {
		padding: 0.5rem;
		cursor: pointer;

		&.active {
			background-color: #DDD;
		}
	}
}
