$ize: 1rem;

.centre {
	@include centre;
}

.map {
	//opacity:0;
	display: block;

	.row {
		display: flex;
	}

	.column {
		
		height: $ize;
		width: $ize;
		border: 1px solid #DDD;
		
		&.playable {
			background-color: #EEE;
		}
	}
}

